.row
  %h3.set_title 设置
  = render 'set_sidebar', obj: @user
  .col-md-8
    = form_for :user, method: 'post', url: update_password_blogs_path, role: 'form' do |f|
      .form-group
        %label{for: 'user_username'} 用户名
        = f.text_field :username, value: @current_user.username, placeholder: '用户名', class: 'form-control username', disabled: 'disabled'
      .form-group
        %label{for: 'user_password'} 旧密码
        = f.password_field :old_password, placeholder: '旧密码', class: 'form-control password', required: true
      .form-group
        %label{for: 'user_password'} 新密码
        = f.password_field :password, placeholder: '密码，最少6位', class: 'form-control password', required: true
      .form-group
        %label{for: 'user_password_confirmation'} 确认密码
        = f.password_field :password_confirmation, placeholder: '确认密码', class: 'form-control password', required: true
      = submit_tag '修改', class: 'btn btn-primary set-btn'