.panel.panel-dfault
  .panel-body
    .row
      .col-md-1.text-center
        = avatar comment.user
        = comment.user.username
      .comment_content.col-md-8
        = comment.content
    .row
      = "#{comment.created_at.strftime('%Y-%m-%d %H:%M:%S')}"