.panel.panel-dfault{id: "comment_#{comment.id}"}
  .panel-body
    .row
      .col-md-1.text-center
        %span.comment_avatar
          = avatar comment.user
        = comment.user.nickname
      .comment_content.col-md-9{id: "comment_#{comment.id}_body"}
        = raw markdown_parser(comment.content)
    .row.comment_footer.text-right
      %span.icon.icon-time(data-toggle="tooltip" data-placement="bottom" title="评论时间")
        = "#{comment.updated_at.strftime('%Y-%m-%d %H:%M:%S')}"
      - if current_user_can_edit_comment?(comment)
        = link_to edit_article_comment_path(@article, comment), remote: true do
          %span.icon.icon-edit
      - if current_user_is_admin? || current_user_can_edit_comment?(comment)
        = link_to article_comment_path(@article, comment), method: 'delete', remote: true, "data-confirm"=> '确定删除吗？' do
          %span.icon.icon-trash
