%section.content
  .form-unit
    = link_to root_path, class: 'brand' do
      %h1= blog_title
    %h3 找回密码
    - if flash[:success].present?
      .alert.alert-success
        %a.close{"data-dismiss"=>"success"} &times;
        %span
          = flash[:success]
    - elsif flash[:error].present?
      .alert.alert-danger
        %a.close{"data-dismiss"=>"alert"} &times;
        %span= raw flash[:error]
    = form_for :user, url: forget_password_confirm_users_path, role: 'form' do |f|
      .form-field.form-group
        = f.text_field :email, placeholder: '注册邮箱', class: 'form-control', required: true
      = submit_tag '确定', class: 'btn btn-primary btn-lg'